version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "54322:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: 625729a08b95bf1b7ff351a663f3a23c
      MINIO_ROOT_PASSWORD: 850181e4652dd023b7a98c58ae0d2d34bd487ee0cc3254aed6eda37307425907
    ports:
      - "54321:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  minio-createbucket:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " sleep 5; /usr/bin/mc alias set myminio http://minio:9000 625729a08b95bf1b7ff351a663f3a23c 850181e4652dd023b7a98c58ae0d2d34bd487ee0cc3254aed6eda37307425907; /usr/bin/mc mb myminio/site-base || true; /usr/bin/mc anonymous set public myminio/site-base || true; exit 0; "

volumes:
  postgres_data:
  minio_data:
